body {
  margin: 0;
  background: url("../images/chrismasbg.jpg");
  background-size: cover;
  font-family: Verdana, Arial, sans-serif;
  color: red;
  justify-content: center;
  align-items: center;
  display: flex;
}

